<%= render 'layouts/error_messages', model: @user %>
<div class="row">
    <div class="edit-block col-10 offset-1">
        <div class="row">
            <div class="block-sidebar col-4">
                <ul class="sidebar-item">
                    <li><sapn>プロフィールを編集</span></li>
                    <li><span>パスワードを編集</span></li>
                </ul>
            </div>
           

            <div class="edit-bar col-8">
                <div class="user">
                    <%= attachment_image_tag @user, :profile_image, size:"30x30", fallback:"no_image.jpg", class: "rounded-image" %>
                    <%= @user.name %>
                </div>
                <div class="edit-form">
                    <%= form_with url: user_path(@user), method: :patch, local: true do |f| %>
                        <div class="field">
                            <%= f.label :プロフィール写真を更新 %>
                            <%= f.attachment_field :profile_image %>
                        </div>
                        <div class="field">
                            <%= f.label :ユーザー名 %>
                            <%= f.text_field :name %>
                        </div>
                        <div>
                        </div>
                        <%= f.submit "更新", class: "origin-btn" %>
                    <% end %>
                </div>
            </div> 
        </div>
    </div>
</div>
