<div class="row">
    <div class="col-8 offset-2">
        <div class="block">
            <div class="my-page-header">
                <div class="my-profile">
                    <p><%= attachment_image_tag @user, :profile_image, size: "80x80", fallback: "no_image.jpg", class: "rounded-image" %></p>
                    <p><%= @user.name %></p>
                    <div class="setting-icon">
                        <%= link_to "",  edit_user_path(@user), class: "fa fa-cog" %>
                    </div>
                </div>
            </div>

            <div class="my-content">
                <ul class="nav nav-tabs justify-content-center ">
                    <li class="nav-item">
                        <%= link_to "投稿", posts_path, class: "nav-link active" %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "グラフ", posts_path, class: "nav-link" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>