<div class="row">
    <div class="col-xs-offset-4 col-xs-4">
        <h1>新規投稿</h1>
        <%= form_for(@post) do |f| %>
            <p>
                <%= f.label(:title, "タイトル") %>
                <%= f.text_field :title, class: "form-control" %>
            </p>
            <p>
                <%= f.label(:caption, "説明文") %>
                <%= f.text_area :caption, class: "form-control" %>
            </p>  
            <p>
                <%= f.label(:fee, "使った金額") %>
                <%= f.text_field :fee, class: "form-control" %>
            </p>
            <p>
                <%= f.submit "送信", class: "btn btn-primary" %>
            </p>
        <% end %>
    </div>
</div>
