<div class="row">
    <div class="col-6 offset-3">
        <div class="form-post-style">
            <div class="form-header">
                <h1>新規投稿</h1>
            </div>

            <div class="post-body">
                <%= form_for(@post) do |f| %>
                <%= render 'layouts/error_messages', model: f.object %>
                    <p>
                        <%= f.label(:title, "タイトル", class: "text-color") %>
                        <%= f.text_field :title, class: "form-control" %>
                    </p>
                    <p>
                        <%= f.label(:image, "画像", class: "text-color") %>
                        <%= f.attachment_field :image %>
                    </p>
                    <p>
                        <%= f.label(:caption, "説明文", class: "text-color") %>
                        <%= f.text_area :caption, class: "form-control" %>
                    </p>  
                    <p>
                        <%= f.label(:fee, "使った金額", class: "text-color") %>
                        <%= f.text_field :fee, class: "form-control" %>
                    </p>
                    <p>
                        <%= f.submit "送信", class: "origin-btn" %>
                    </p>
                <% end %>
            </div>
        </div>
    </div>
</div>
