<header class="navbar fixed-top">
    <div class="container">
        <nav class="nav navbar-dark navbar-left">
            <%= link_to(posts_path) do %>
                <span id="monemone">MoneMone</span>
            <% end %>
        </nav>
        <nav class="navbar-dark navbar-right">
            <ul class="nav">
                <% if user_signed_in? %>
                    <li>
                        <%= link_to destroy_user_session_path, method: :delete do %>
                            <i class="fa fa-sign-out" aria-hidden="ture"></i>ログアウト
                        <% end %>
                    </li>
                    <li>
                        <%= link_to user_path(current_user.id) do %>
                            <i class="fa fa-user" aria-hidden="true"></i>マイページ
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_post_path do %>
                            <i class="fa fa-jpy" aria-hidden="true"></i>Mone
                        <% end %>
                    </li>
                <% else %>
                    <li>
                        <%= link_to new_user_registration_path do %>
                            <i class="fa fa-user-plus" aria-hidden="true"></i>新規登録
                        <% end %>
                    </li>
                    <li>
                        <%= link_to new_user_session_path do %>
                            <i class="fa fa-sign-in"></i>ログイン
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>